
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Mulish', sans-serif;
    background: #F3F3F3;
    height: 100%;
    margin: 0;
}

#container {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  
#container #app {
height: 100%;
}

