@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap ');
/*
Vieja opcion
html{
  height: 100%;
  max-height: 100%;
}
body {
  overflow-x: hidden;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  height: 100%;
  max-height: 100%;
}

*/
body {
  overflow-x: hidden;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */
.container-fluid{
  
}
#viewport {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #FAFBFD;
  display: flex;
  width: 100%;
  align-items: stretch;
}

#content {
  flex-grow: 100;
  display: block;
  position: relative;
  margin-right: 0;
  padding-bottom: 2%;
}

  #content .nav a{
    background: none;
    color: #3F434A;
    
  }
  #content .nav a:hover{
    background: none;
    color: #3F434A;
    
  }
    
  
/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: block;
  left: 250px;
  background: #FFFFFF;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 2px 10px 5px #D5D5D5;
  
}

#sidebar header {
  background-color:#fff;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 10%;
  margin-bottom: 10%;
}

#sidebar header a {
  color: #000000;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav{
  
}

#sidebar .nav a{
  background: none;
  color: #3F434A;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background-color: transparent;
  color: #3F434A;
}
#sidebar .nav-link
{
    height: 57px;
}
#sidebar .nav a i{
  margin-right: 16px;
}
hr.solid {
  border-top: 1px solid #DDE3EA;
  width: 100%;
}
#profile-nav-menu
{
    border-left: 2px solid #DFE0EB;
}
#barrita-ctm
{
    height: 56px;
    width: 4px;
    background-color: #F3FCFF;
    background-color: #5DE0D0;
    position: absolute;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
#config
{
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    
}
/*---------------------------------------*/

#block
{

    background-color: #FFFFFF;
    border: 1px solid #b6b7c0;
    border-radius: 8px;
    clear: both;
    display: inline-block;
    width: 98%;
    font-family: Mulish;
}
#tb-cl
{
    border-top: none;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #9FA2B4 ;
}
#tb
{
    border: 1px solid #b6b7c0;
    border-radius: 4px;
}

.navbar-brand
{
  margin-left: 1%;
  margin-top: 1% !important;
}

#fS
{
  border-bottom: solid 1px #E8E9EB;
}
#bs_1
{
 background-color: transparent;
 border: none;
 font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;

/* identical to box height */

align-items: center;

/* Heading */
color: #3F434A;
}
#bs_1:focus
{
  outline: none; box-shadow: none;
}
#bs_2
{
  background-color: transparent;
  border: none;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 22px;

/* identical to box height */

align-items: center;

/* Heading */
color: #3F434A;
  
}
#bs_2:focus
{
  outline: none; box-shadow: none;
}
.barrita-ctm-v2
{
  height: 2px;
  width: 104px;
  background-color: #F3FCFF;
  background-color: #5DE0D0;
  position: absolute;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 1%;
}
.t_1
{
  display: none;
}
.t_2
{
  display: none;
}
.dis
{
  cursor: not-allowed;
  pointer-events: none;
}
#n_1
{
  color: #8A9099;
  background-color: #E8E9EB;
  height: 19px;
  width: 31px;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;

  /* identical to box height */
  display: grid;
  align-items: center;
  text-align: center;
}
#n_2
{
  color: #8A9099;
  background-color: #E8E9EB;
  height: 19px;
  width: 31px;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;

  /* identical to box height */
  display: grid;
  align-items: center;
  text-align: center;

}
#n_m
{
  color: #fff;
  background-color: #B30F3B;
  height: 19px;
  width: 31px;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;

  /* identical to box height */
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: 1vw;
}
#fS_b
{
  display: flex;
  margin-bottom: 1%;
}

#select_op
{
  display: flex !important;
  align-items: baseline !important;
}



#fotos_pacs_up
{
  display: flex;
}
#fotos_pacs_down
{
  display: flex;
}
#img1
{
  width: 150px;
  height: 150px;

}
#img2
{
  width: 150px;
  height: 150px;

}
#img3
{
  width: 150px;
  height: 150px;

  
}
#img4
{
  width: 150px;
  height: 150px;
  
  
}
#imgpac
{
  border: solid 1px white;
}
#errorimg
{
  display: none;
}



/*PIPE*/

.alert-block-day{
  font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

/* Heading */

color: #3F434A;
}
.alert-block-day p{
  font-size: 16px;
  line-height: 24px;
}
.boton-primario{
  background: #596D85;
  border-radius: 4px;
  border: 1px solid transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  
  
color: #FFFFFF;
}
.boton-primario:disabled{
  background: #9fb1c2;
  border-radius: 4px;
  border: 1px solid transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  
  
color: #FFFFFF;
}
.boton-primario:disabled:hover{
  background: #9fb1c2;
  border-radius: 4px;
  color: #FFFFFF;
}
.boton-primario:hover{
  background: #40505F;
  border-radius: 4px;
  color: #FFFFFF;
}
.boton-secundario{
  background: #FFFFFF;

  /* Texto */
  border: 1px solid #40505F;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  
  
  /* Texto */
  color: #40505F;
}
.boton-secundario:hover{
  background: #FFFFFF;

  /* Verde */
  border: 1px solid #5DE0D0;
  box-sizing: border-box;
  border-radius: 4px;
  
  
  /* Texto */
  color: #40505F;
}
.back-button[href="/A_Consultas"] {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.2px;

  /* piel */

  color: #f9807d;
}
.back-button[href="/M_Solicitudes"] {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.2px;

  /* piel */

  color: #f9807d;
}
.back-button[href="/A_Medicos"] {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.2px;

  /* piel */

  color: #f9807d;
}

button{
  outline:0px !important;
}

#icon_sda
{
  font-size: 12px;
}


.cell_in{
  position: relative;
}

#content .button_name a:hover{
  background-color: #cac3c5;
}
.textup{
  height: 180px; width: 100%; background: #FFFFFF; border: 1px solid #DDE3EA; box-sizing: border-box; border-radius: 8px;
}
.textup_com{
  height: 180px; width: 100%; background: #FFFFFF; border: 1px solid #DDE3EA; box-sizing: border-box; border-radius: 8px;
}




#id_query
{
  display: none;
}

li{
	list-style: none;
}





.input-pope {
  color: transparent;
  width: 0px;
  display: none;
}
.input-pope-label{
  background: #FBFBFB;
  /* Celeste */
  
  width: 100%;
  min-height: 60px;
  content: "Adjuntar Documento";
  border: 1px dashed #DDE3EA;
  box-sizing: border-box;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0% 2%;
  
  /*
  display: flex;
  align-items: center;
  text-align: center;
  
  /* texto 3 */

  color: #8696A6;
  
}

.input-pope-label div{
  
  text-align: center; /* CENTRATA EL TEXTO ADENTRO DE LOS DIV DE INPUT-POPE*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

/*CREO QUE ESTO ES INUTIL*/
.input-pope::-webkit-file-upload-button {
  visibility: hidden;
}

.input-error{
  font-family: 'Mulish',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;

color: #B30F3B;
}
.data-paciente{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  text-transform: uppercase;

  /* Body Light */

  color: #8A9099;
  
}



.a_links a[aria-selected="false"] div{
  color: #8696A6;
}
.a_links a[aria-selected="false"]  .barrita-ctm-v2{
  display: none;
}
.a_links a{
  position: relative;
  display: flex;
align-items: center;
color: #40505F;
}
.pres-post-insert{
  min-height: 180px; width: 100%; background: #F7F8FA; border: 1px solid #DDE3EA; box-sizing: border-box; border-radius: 8px; overflow: auto;
}
.pres-title{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  
  
  /* Body Light */
  
  color: #8A9099;
}
/*Esto quita efectos sobre los textarea*/
.titulo-vista{
  font-family: 'Mulish',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;

/* grayscale / black */

color: #252733;
}

textarea:hover, 
textarea:active, 
textarea:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.today-square{
  border-radius: 14px;
  background-color: #5DE0D0;;
  width: 2vw;
  height: 2vw;
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}





















