venv

**/__pycache__/*

frontend/node_modules

**/node_modules/

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
frontend/static/frontend/main.js
frontend/static/frontend/main.js.LICENSE.txt
